.board {
  grid-area: board;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.table {
  box-shadow: 5px 5px 26px -10px rgba(0, 0, 0, 0.75);
  border: 17px double #717677;
  background: rgb(238, 238, 238);
  display: grid;
  align-self: center;
  justify-self: center;
}

.pieceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
