html,
body,
.root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 58vw 42vw;
  grid-template-rows: 16vh 40vh 44vh;
  grid-template-areas:
    'board colorSelector'
    'board players'
    'board chat';
}
